/*** VARIABLES; BASICS AND RESETS ***/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --base-blue: #5271ff;
  --dark-blue: #2c4978;
  --light-blue: #b4c2ff;
  --light-grey: #a6a6a6;
  --border-radius-classic: 15px;
}
/* for sign-up title animation */
.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}
.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}
.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}
.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #a1db9b;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
body {
  margin-top: 65px;
}

/*** NAVBAR ***/

.active {
  font-weight: bold;
}
.navbar-container {
  background-color: var(--base-blue);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logout-button {
  background-color: var(--base-blue);
  border: none;
}
.navbar-options,
.logout-button {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
}
.navbar-app-logo {
  height: 60px;
}
.go-back-button {
  display: none;
}

/*** FOOTER ***/

.footer {
  background-color: var(--light-grey);
  color: white;
  position: relative;
  bottom: 0vh;
  width: 100%;
  height: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-links {
  display: flex;
  gap: 50px;
}
.footer-links a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/*** HOME PAGE ***/

.landing-image {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-page-articles {
  display: flex;
  gap: 120px;
  margin: 5vh 20vh;
}
article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article img {
  height: 40vh;
  object-fit: contain;
  margin-bottom: 20px;
}
article p {
  text-align: justify;
}

/*** GLOBAL ELEMENTS ***/

h1 {
  color: var(--base-blue);
  text-align: center;
  font-size: 2.7rem;
  margin: 20px 0;
}
h2 {
  color: var(--dark-blue);
  text-align: center;
  font-size: 2.5rem;
  margin: 20px;
}
h3 {
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}
button {
  background-color: var(--light-blue);
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius-classic);
  margin: 10px;
}
button:hover {
  cursor: pointer;
  background-color: var(--base-blue);
}
a {
  text-decoration: none;
  color: var(--base-blue);
  font-weight: bold;
}

/*** LOG IN AND SIGN UP ***/

.auth-app-logo {
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.signup-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
}
.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 150px;
}
.signup-section-title {
  font-size: 28px;
}
/* title animation */
.title-word {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  animation: color-animation 4s linear infinite;
  font-size: 1.8rem;
  text-transform: uppercase;
}
@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
.basic-button {
  width: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.auth-phrase {
  text-align: center;
}
.login-form {
  align-items: center;
}

/*** GLOBAL FORMS AND INPUTS ***/
form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
input {
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  margin-bottom: 20px;
  text-align: center;
}
input:focus {
  outline: none;
  border-bottom: 2px solid var(--base-blue);
}
select,
textarea {
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(221, 221, 221);
}

select:focus,
textarea:focus {
  background-color: rgb(221, 237, 241);
}

/*** SEARCH BAR ***/
.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}
