/*** VARIABLES; BASICS AND RESETS ***/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --base-blue: #5271ff;
  --dark-blue: #2c4978;
  --light-blue: #b4c2ff;
  --light-grey: #a6a6a6;
  --placeholder: #c0c0c0;
  --base-text-color: rgb(43, 43, 43);
  --border-radius-classic: 15px;
}
/* for sign-up title animation */
.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}
.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}
.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}
.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #a1db9b;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

body {
  margin-top: 65px;
}

/*** NAVBAR ***/

.active {
  font-weight: bold;
}
.navbar-container {
  background-color: var(--base-blue);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logout-button {
  background-color: var(--base-blue);
  border: none;
}
.navbar-options,
.logout-button {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
}
.navbar-app-logo {
  height: 60px;
}
.go-back-button {
  display: none;
}

/*** FOOTER ***/

.footer {
  background-color: var(--light-grey);
  color: white;
  position: relative;
  bottom: 0vh;
  width: 100%;
  height: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer-links {
  display: flex;
  gap: 50px;
}
.footer-links a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/*** HOME PAGE ***/

.landing-image {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-page-articles {
  display: flex;
  gap: 120px;
  margin: 5vh 20vh;
}
article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article img {
  height: 40vh;
  object-fit: contain;
  margin-bottom: 20px;
}
article p {
  text-align: justify;
}

/*** GLOBAL ELEMENTS ***/

h1 {
  color: var(--base-blue);
  text-align: center;
  font-size: 2.7rem;
  margin: 20px 0;
}
h2 {
  color: var(--dark-blue);
  text-align: center;
  font-size: 2.5rem;
  margin: 20px;
}
h3 {
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}
h4 {
  color: white;
  background-color: var(--base-blue);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}
h5 {
  color: var(--dark-blue);
  font-size: 22px;
}
button {
  background-color: var(--dark-blue);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius-classic);
  margin: 10px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 200ms;
}
a {
  text-decoration: none;
  color: var(--base-blue);
  font-weight: bold;
}
hr {
  margin: 50px 100px;
  border: 2px solid var(--light-grey);
}
.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/*** LOG IN AND SIGN UP ***/

.auth-app-logo {
  height: 16vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.signup-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
}
.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 150px;
}
.signup-section-title {
  font-size: 26px;
  text-decoration: underline;
}
.show-pass-icon:hover {
  cursor: pointer;
}
/* title animation */
.title-word {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  animation: color-animation 4s linear infinite;
  font-size: 1.6rem;
}
@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
.basic-button {
  width: 150px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.auth-phrase {
  text-align: center;
}
.login-form {
  align-items: center;
}

/*** GLOBAL FORMS AND INPUTS ***/

form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
input {
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  margin-bottom: 20px;
  text-align: center;
}
input:focus {
  outline: none;
  border-bottom: 2px solid var(--base-blue);
}
input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
}
select,
textarea {
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(221, 221, 221);
}
select:focus,
textarea:focus {
  background-color: rgb(221, 237, 241);
}
label {
  font-weight: bold;
}

/*** SEARCH BAR & FILTERS ***/

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.sort {
  text-align: center;
}

/*** PROFILE ***/

.profile-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.name-linkedin {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.profile-data-personal,
.profile-data-professional {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-options {
  position: absolute;
  right: 15px;
  top: 90px;
}
.industry-tag {
  background: var(--light-grey);
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px;
}
/* edit data form */
.edit-options {
  text-align: center;
}
.projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 100px;
}
.projects-list {
  height: 600px;
  padding: 50px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/*** CHARTS ***/

.chart-container {
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20;
}
.chart-container h5 {
  font-size: 35px;
  font-style: oblique;
}
.pie {
  min-width: 300px;
}

/*** REVIEWS ***/

.review-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.review-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 450px;
  overflow: auto;
}
.review-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  height: 300px;
  border: 2px solid var(--base-blue);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 8px 8px 8px var(--base-blue);
  margin: 30px;
}
.review-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*** PROJECT CREATION AND EDIT FORMS ***/

.explanation-button {
  background-color: var(--light-blue);
  color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.explanation {
  width: 50%;
  text-align: justify;
  margin: 50px 0;
}
.explanation-div {
  display: flex;
  justify-content: center;
}
.highlighted-name {
  color: var(--dark-blue);
  font-weight: bold;
  text-decoration: underline;
}
.proj-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.proj-section {
  display: flex;
  flex-direction: column;
}
.proj-form input {
  text-align: left;
}
.proj-form label {
  margin-bottom: 10px;
}
.investors-container {
  height: 180px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.investor-title {
  margin: 10px 0;
}
.investor-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.create-button {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

/*** PROJECT/USER VIEW & CARDS ***/

.project-cards,
.user-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.project-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
  color: black;
  font-weight: normal;
  gap: 10px;
}
.project-card h4 {
  text-align: center;
}
.project-card:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}
.user-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border-radius: var(--border-radius-classic);
  box-shadow: 3px 3px 5px var(--light-grey);
  transition: 0.3s;
}
.user-card:hover {
  box-shadow: 6px 6px 9px var(--light-grey);
}
.user-card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  font-weight: normal;
}

/*** PROJECT DATA VIEW ***/

.project-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

/*** CONV & MESSAGES ***/

.search-conv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.search-conv input {
  width: 260px;
}
.conv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conversation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--light-blue);
  border-radius: var(--border-radius-classic);
  color: rgb(43, 43, 43);
}
.conversation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conversation-last-message {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 5px;
}
.message-preview {
  font-weight: normal;
}
/* chat itself */
.messages-UI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.messages-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-height: 100%;
  overflow-y: auto;
}
.recipient-name {
  font-size: 28px;
  background-color: var(--dark-blue);
  color: white;
  padding: 10px 100px;
  border-radius: var(--border-radius-classic);
}
.message {
  max-width: 75%;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.message-date {
  font-size: 14px;
  float: right;
}
.sent-by-me {
  float: right;
  background-color: #f0f0f0;
}
.sent-by-other {
  float: left;
  background-color: #e0e0e0;
}
.sent-by-me:before,
.sent-by-other:before {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
}
.sent-by-me:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f0f0f0;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.sent-by-other:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e0e0e0;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.message-input[type="text"] {
  border: none;
  border-top: 1px solid var(--placeholder);
  width: 35%;
  padding: 10px;
  font-size: 18px;
  margin-top: auto;
}
.message-input[type="text"]:focus {
  outline: none;
}
.message-input::placeholder {
  color: var(--placeholder);
}
.message-options {
  position: relative;
  overflow: visible;
}
.message-options-dropdown {
  position: relative;
  right: 20;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 8px 0;
  z-index: 1;
  min-width: 100px;
}
.ellipsis {
  position: relative;
  right: 5px;
  background-color: var(--light-grey);
  padding: 5px;
  border-radius: 5px;
}
.message-options-dropdown button {
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
.message-options-dropdown button:hover {
  background-color: #f1f1f1;
}
.message-edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
